---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner';
import Servicos from '@/components/Servicos';
import Conecte from '@/components/Conecte.astro';
import Lojas from '@/components/Lojas';
import FaleConosco from '@/components/FaleConosco';
---

<Layout>
    <div class="max-lg:hidden"><Banner client:load href="/banners/Empresarial.mp4"/></div>
    <div class="hidden max-lg:block"><Banner client:load href="/banners/EmpresarialMobile.mp4"/></div>
    <Servicos client:load />
    <Conecte client:load />
    <Lojas client:load  />
    <FaleConosco client:load />
</Layout>